/*Style option number one*/

/*article{*/
    /*color: #333333;*/
    /*padding: 55px 0 52px;*/
/*}*/

/*img {*/
    /*width: 97%;*/
    /*outline: 2px solid #F5B349;*/
    /*box-shadow: 1px 6px 3px #888888;*/
    /*display: inline-block;*/
    /*float: left;*/
    /*z-index:1;*/
    /*top: 20px;*/
    /*margin: 57px 0;*/
/*}*/

/*body{*/
    /*text-align: center;*/
    /*background-color: #fff;*/
    /*font-family: 'Cabin', sans-serif;*/
    /*color: #FFFFFF;*/
    /*margin: 0 0;*/
/*}*/

/*a {*/
    /*text-decoration: none;*/
    /*color: #FFFFFF;*/
    /*margin: 0 30px;*/
/*}*/

/*a:hover {*/
    /*color: #E8DDCB ;*/
/*}*/

/*nav {*/
    /*background-color: #0E2430;*/
    /*padding: 13px 0 12px 0;*/
    /*box-shadow: 4px 6px 9px #888888;*/
    /*border-bottom: 2px solid #F5B349;*/
/*}*/
/*h1 {*/
    /*margin: 0 18px;*/
    /*color: #fff;*/
    /*padding: 145px 20px 0;*/
/*}*/

/*.jumbotron {*/
    /*background-image: url("../images/jumbo.png");*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
    /*height: 400px;*/
/*}*/



/*-------------------*/
/*Option number two*/

article{
    color: #333333;
    padding: 55px 0 52px;
}

img {
    width: 97%;
    outline: 2px solid #6BB39B;
    box-shadow: 1px 6px 3px #888888;
    display: inline-block;
    float: left;
    z-index:1;
    top: 20px;
    margin: 7px 0;
}

body{
    text-align: center;
    background-color: #fff;
    font-family: 'Cabin', sans-serif;
    color: #0B0B0D;
    margin: 0 0;
}

a {
    text-decoration: none;
    color: #0B0B0D;
    margin: 0 30px;
}

a:hover {
    color: #E8DDCB ;
}

nav {
    background-color: #6BB39B;
    padding: 13px 0 12px 0;
    box-shadow: 4px 6px 9px #888888;
    border-bottom: 2px solid #F7F4E8;
}
h1 {
    margin: 0 5px;
    color: #0B0B0D;
    padding: 145px 20px 0;
}

.jumbotron {
    background-color: #DAF3EA;
    height: 290px;
    border-bottom: 50px solid #85E6C0;
}


/*-------------------*/
.wapper {
    position: relative;
    padding: 0;
    width:17%;
    display: inline-block;
}

.forumtext {
    position: absolute;
    top: -13px;
    left: 0;
    color:#000;
    background-color:rgba(255,255,255,0.8);
    width: 97%;
    height: 96px;
    margin-top: 20px;
    padding-top: 36px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.forumtext:hover {
    opacity:1;
}

/*-------------------*/

.jstext {
    position: absolute;
    top: -13px;
    left: 0;
    color:#000;
    background-color:rgba(255,255,255,0.8);
    width: 97%;
    height: 96px;
    margin-top: 20px;
    padding-top: 36px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.jstext:hover {
    opacity:1;
}

.smalltext {
    font-size: 12px;
}

/*-------------------*/

.zentext {
    position: absolute;
    top: -13px;
    left: 0;
    color:#000;
    background-color:rgba(255,255,255,0.8);
    width: 97%;
    height: 96px;
    margin-top: 20px;
    padding-top: 36px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.zentext:hover {
    opacity:1;
}

/*-------------------*/

.jqtext {
    position: absolute;
    top: -13px;
    left: 0;
    color:#000;
    background-color:rgba(255,255,255,0.8);
    width: 97%;
    height: 96px;
    margin-top: 20px;
    padding-top: 36px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.jqtext:hover {
    opacity:1;
}

/*-------------------*/