<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/homestyle.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,500' rel='stylesheet' type='text/css'>
</head>
<body>
    <!--<h1>Chelsea's projects</h1>-->
    <div class="jumbotron">
            <h1>Chelsea Dover</h1>
            <p>This is my portfolio page showcasing all the online projects I've done through PDX Code guild</p>
        </div>
    <nav>
    <a href="/forum">Forum</a>
    <a href="/zen_mockup">Zen Mockup</a>
    <a href="/javapic">Javapic</a>
    <a href="/jquerypic">Javapic with jquery</a>
    </nav>

    <article>
        <p>I am a student at PDX Code Guild. I've been dabbling in HTML & CSS since I was 8.</p>
        <p>It started when I was into Neopets and my sister taught me how to create layouts for my pets.</p>
        <p>After Neopets I continued to edit layouts using Myspace and later Tumblr.</p>
    </article>

    <a href="/forum" class="wapper" >
    <span class="forumtext">
        Forum
        <p class="smalltext">A dynamically populated forum</p>
    </span>
    <img src="/static/images/forum.png" >
    </a>

    <a href="/jquerypic" class="wapper" >
    <span class="jstext">
        Javapic with Jquery
        <p class="smalltext">A dynamically populated photo gallery using Jquey</p>
    </span>
    <img src="/static/images/javapic.png" >
    </a>

    <a href="/zen_mockup" class="wapper" >
    <span class="zentext">
        Zen mockup
        <p class="smalltext">A static website designed to spec using css</p>
    </span>
    <img src="/static/images/zen_mockup.png" >
    </a>

    <a href="/javapic" class="wapper" >
    <span class="jqtext">
        Javapic with naked javascript
        <p class="smalltext">A dynamically populated photo gallery using Javascript</p>
    </span>
    <img src="/static/images/javapic.png" >
    </a>
</body>
</html>