<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/homestyle.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,500' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Chelsea's projects</h1>
    <nav>
    <a href="/forum">Forum</a>
    <a href="/zen_mockup">Zen Mockup</a>
    <a href="/javapic">Javapic</a>
    <a href="/jquerypic">Javapic with jquery</a>
    </nav>

        <!--<div class="forumwapper">-->
            <a href="/forum" class="forumwapper" >
            <span class="forumtext">
                Forum
            </span>
            <img src="/static/images/forum.png" >
            </a>
        <!--</div>-->
            <a href="/javapic" class="jswapper" >
            <span class="jstext">
                Javapic
            </span>
            <img src="/static/images/javapic.png" >
            </a>

        <!--<div>-->
            <a href="/zen_mockup" class="zenwapper" >
            <span class="zentext">
                Zen mockup
            </span>
            <img src="/static/images/zen_mockup.png" >
            </a>

        <!--<div>-->
            <a href="/jquerypic" class="jqwapper" >
            <span class="jqtext">
                Javapic
            </span>
            <img src="/static/images/javapic.png" >
            </a>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/homequery.js' %}"></script>
</body>
</html>